includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/tomasvotruba/type-coverage/config/extension.neon

parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    type_coverage:
        constant_type: 0
        return_type: 87
        param_type: 94
        property_type: 91
    bootstrapFiles:
        - tests/_bootstrap.php
    dynamicConstantNames:
        - ENVIRONMENT
    ignoreErrors:
    paths:
        - app/
    excludePaths:
            - '*/_PHPStan_*'
