includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/tomasvotruba/type-coverage/config/extension.neon

parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    type_coverage:
        constant_type: 0
        return_type: 87
        param_type: 94
        property_type: 91
    bootstrapFiles:
        - tests/_bootstrap.php
    dynamicConstantNames:
        - ENVIRONMENT
    ignoreErrors:
        -
            message: '#Property .+::\$.+ is never written, only read.#'
            path: app/Entities/
        -
            message: '#Property .+::\$.+ is never read, only written.#'
            path: app/Entities/
        -
            message: '#Property .+::\$.+ is unused.#'
            path: app/Entities/
        -
            message: '#Method .+::set.+\(\) is unused#'
            paths:
                - app/Entities/User.php
                - app/Entities/DishType.php
    paths:
        - app/
    excludePaths:
            - '*/_PHPStan_*'
