openapi: 3.0.3
info:
  title: ReCiPes - API
  description: |-
    This is a specification of Recipes API..
 
    Some useful links:
    - [The RCP repository](https://github.com/pifon/pifon)
    - [The source API definition for the RCP API](https://github.com/pifon/pifon/documentation/openapi.yaml)
  contact:
    email: przemek.wolski@gmail.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.0.1
servers:
  - url: https://pifon.co.uk/api

x-tagGroups:
  - name: Components
    tags:
      - Cuisines
  - name: Recipes and Management
    tags:
      - Recipes
  - name: User Management
    tags:
      - Users
tags:
  - name: Cuisines
    description: Operations about cuisines
  - name: Recipes
    description: Operations related to recipes and components.
  - name: Users
    description: Operations about user
paths:
  /recipes/{slug}:
    $ref: "./paths/recipes@{slug}.yaml"
  /recipes/{slug}/details:
    $ref: "./paths/recipes@{slug}@details.yaml"
  /recipes/{slug}/ingredients:
    $ref: "./paths/recipes@{slug}@ingredients.yaml"
  /recipes/{slug}/directions:
    $ref: "./paths/recipes@{slug}@directions.yaml"
  /cuisines:
    $ref: "./paths/cuisines.yaml"
  /cuisines/{slug}:
    $ref: "./paths/cuisines@{slug}.yaml"
  /cuisines/{slug}/details:
    $ref: "./paths/cuisines@{slug}@details.yaml"
  /dish-types/{slug}:
    $ref: "./paths/dish-types@{slug}.yaml"
  /author/{username}:
    $ref: "./paths/authors@{username}.yaml"

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      $ref: './components/security/bearer_auth.yaml'


